[Desktop Entry]
Name=Qianyan-IME
Comment=High-performance Input Method Engine for Linux
Exec=qianyan-ime
Icon=qianyan-ime
Terminal=false
Type=Application
Categories=Settings;Utility;
Keywords=input;ime;pinyin;
StartupNotify=true
X-GNOME-Autostart-enabled=true
